html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}

/* general structure */
.container {
  display: flex;
  width: 100%;
  color: rgb(0, 100, 0);
  background-color: rgb(153, 255, 153);
}

.english {
  width: 40%;
}

.middle {
  width: 20%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.german {
  width: 40%;
  font-style: italic;
}


/* content styles */
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(204, 138, 116);
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 16px 30px;
  margin-top: 3rem;
}

h3 {
  font-size: 1.2rem;
  font-style: italic;
  padding: 16px 30px 6px 30px;
}

p {
  font-size: 1rem;
  padding: 5px 20px;
}

.picture {
  padding: 15px;
}
.picture img {
  width: 80%;
  height: auto;
}

a {
  color: rgb(204, 138, 116);
}

ul {
  list-style-type: circle;
  text-align: left;
  padding-left: 50px;
}
li {
  padding-top: 6px;
}

#blog {
  padding-top: 6px;
  padding-bottom: 30px;
}
